
{% load static %}

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }

  .layout {
    display: flex;
    min-height: 100vh;
  }

  /* Sidebar */
  .sidebar {
    width: 220px;
    background-color: #111;
    color: white;
    padding: 30px 20px;
  }

  .sidebar h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .sidebar a:hover {
    opacity: 0.7;
  }

  /* Main Content */
  .main {
    flex: 1;
    padding: 40px;
  }

  .main h1 {
    margin-top: 0;
  }

  .metrics-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .metric-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    min-height: 200px;
  }

  .metric-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .metric-range {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
  }

  .metric-value {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .metric-subtext {
    text-align: center;
    font-size: 14px;
    color: #777;
  }

  
  
  .chart-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
  }

  .bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .bar {
    width: 20px;
    background: orange;
    border-radius: 4px;
    transition: height 0.3s ease;
  }

  .bar-label {
    margin-top: 6px;
    font-size: 12px;
    color: #555;
  }

</style>

<div class="layout">
  
  <div class="sidebar">
    <h2>Athletic Insight</h2>
    <a href="/dashboard/">Dashboard</a>
    <a href="/logs/">Daily Logs</a>
    <a href="#">Tomorrow Plan</a>
    <a href="#">History</a>
    <a href="/accounts/logout/">Logout</a>
  </div>

  <div class="main">
    <h1>Training Metrics</h1>
    <p>Welcome {{ request.user.username }}</p>

    <div class="metrics-grid">

      <div class="metric-card">
        <div class="metric-title">Activity Summary || {{seven_days_ago|date:"M j"}} - {{today|date:"M j"}}</div>

       <div class="metric-value">
           Total Activity Duration: {{total_hours}}h {{mins}}m || {{act_count}} activities completed
       </div>

       <div class="chart-container">
        {% for item in chart_data %}
          <div class="bar-wrapper">
            <div class="bar"
                 style="height: {{ item.height_percent }}%;">
            </div>
            <div class="bar-label">
              {{ item.day_label }}
            </div>
          </div>
        {% endfor %}
      </div>



      </div>

      <div class="metric-card">
        <h3>Metric 2</h3>
      </div>

      <div class="metric-card">
        <h3>Metric 3</h3>
      </div>

      <div class="metric-card">
        <h3>Metric 4</h3>
      </div>

    </div>
  </div>

</div>
