{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  .metrics-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .metric-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    min-height: 200px;
  }

  .metric-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 6px;
  }

  .metric-value {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .chart-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
  }

  .bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  .bar {
    width: 20px;
    background: orange;
    border-radius: 4px;
    transition: height 0.3s ease;
  }

  .bar-label {
    margin-top: 6px;
    font-size: 12px;
    color: #555;
  }

  .load-bar-container {
  width: 80%;
  height: 18px;
  background: #eee;
  border-radius: 10px;
  margin: 20px auto;
}

.load-bar-fill {
  height: 100%;
  background: linear-gradient(
    90deg,
    #4CAF50,
    #FFC107,
    #FF5722
  );
  border-radius: 10px;
}

.load-bar {
  position: relative;
  width: 80%;
  height: 22px;
  margin: 30px auto 10px auto;
  border-radius: 12px;
  overflow: hidden;
}

.load-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      #4CAF50,
      #8BC34A,
      #FFC107,
      #FF9800,
      #FF5722
  );
}
.load-marker {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(0,0,0,0.4);
}

/* positions of each zone divider */

.marker-1 {
  left: 25%;
}

.marker-2 {
  left: 50%;
}

.marker-3 {
  left: 75%;
}

.load-labels {
  width: 80%;
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.load-dot {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
</style>

<h1>Training Metrics</h1>
<p>Welcome {{ request.user.username }}</p>

<div class="metrics-grid">
  <div class="metric-card">
    <div class="metric-title">
      Activity Summary || {{ seven_days_ago|date:"M j" }} - {{ today|date:"M j" }}
    </div>

    <div class="metric-value">
      Total Activity Duration: {{ total_hours }}h {{ mins }}m || {{ act_count }} activities completed
    </div>

    <div class="chart-container">
      {% for item in chart_data %}
        <div class="bar-wrapper">
          <div class="bar" style="height: {{ item.height_percent }}%;"></div>
          <div class="bar-label">{{ item.day_label }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="metric-card">

      <div class="metric-title">
        Training Load || {{seven_days_ago|date:"M j"}} - {{today|date:"M j"}}
      </div>
    
      <div class="metric-value">
        {{training_load}}
      </div>
    
      <div class="load-container">

  <div class="load-bar">
    <div class="load-gradient"></div>

    <!-- zone markers -->
    <div class="load-marker marker-1"></div>
    <div class="load-marker marker-2"></div>
    <div class="load-marker marker-3"></div>

    <!-- current load dot-->
     <div class="load-dot" style="left: {{load_percent}}%;"></div>
  </div>


  <div class="load-labels">
    <span>Low</span>
    <span>Moderate</span>
    <span>High</span>
    <span>Overreaching</span>
  </div>
  <div class="load-labels" style="font-size: 12px; color: #666; margin-top: 4px;">
    <span>0–300</span>
    <span>300–600</span>
    <span>600–900</span>
    <span>900–1200</span>
  </div>
</div>
    
  </div>
  <div class="metric-card"><h3>Metric 3</h3></div>
  <div class="metric-card"><h3>Metric 4</h3></div>
</div>
{% endblock %}